In [1]:
import pandas as pd
import numpy as np

### Use read_html to read table

In [36]:
table_MN = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', match='Borough')
len(table_MN)
df = table_MN[0]

### Remove rows with unassigned boroughs

In [37]:
df_unassigned = df.loc[df['Borough'] == "Not assigned", :]
unassigned_borough = list(df_unassigned.index)
df.drop(unassigned_borough, inplace=True)

### Assign neighbourhood as borough, where not assigned

In [38]:
df.loc[df['Neighbourhood'] == "Not assigned", 'Neighbourhood'] = df['Borough']

In [39]:
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Split rows with multiple neighbourhood values into individual rows

In [40]:
df_mult = df.loc[df['Neighbourhood'].str.contains(','), :]
idx = list(df_mult.index)

df_new = pd.DataFrame(columns=['Postal Code', 'Borough', 'Neighbourhood'])
for i in idx:
    neighbourhoods = df_mult.loc[i, 'Neighbourhood'].split(',')
    for n in neighbourhoods:
        pc = df_mult.loc[i, 'Postal Code']
        b = df_mult.loc[i, 'Borough']
        
        new_row = pd.DataFrame([[pc, b, n.strip()]], columns=['Postal Code', 'Borough', 'Neighbourhood'])
        df_new = df_new.append(new_row)

df_new.head()
df.drop(idx, inplace=True)
df = df.append(df_new)
df.reset_index(inplace=True)
df.head()

   index Postal Code     Borough     Neighbourhood
0      2         M3A  North York         Parkwoods
1      3         M4A  North York  Victoria Village
2     11         M3B  North York         Don Mills
3     14         M6B  North York         Glencairn
4     20         M3C  North York         Don Mills